body {
	background-color: rgb(255, 255, 255);
	font-family: "Lucida Handwriting";
}

#container {
	width: 1500px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

h1{
	margin: 0;
    font-size: 40px;
} 

h2{
	margin: 0;
    font-size: 30px;
    color: #22a6b3;
}

h3{
	margin: 0;
    font-size: 23px;
    color: #026169;
} 

h4{
	margin: 0;
    font-size: 23px;
    color: #026169;
} 

h5{
	margin: 0;
    font-size: 23px;
    color: #026169;
} 

h6{
	margin: 0;
    font-size: 23px;
    color: #026169;
} 

.gridA{
	display: grid;
	grid-gap: 10px;
	grid-template-areas: 
	'a b'
}

.grid1{
	grid-area: a;
}

.grid2{
	grid-area: b;
}

.gridB{
	display: grid;
	grid-gap: 10px;
	grid-template-areas: 
	'a b'
}

.grid3{
	grid-area: a;
}

.grid4{
	grid-area: b;
}

.grid5{
	grid-area: c;
}

#header {
	background-color: #22a6b3;
	color: white;
	text-align: center;
	padding: 50px;
} 

#content {
	padding: 0px;
}

#nav {
	width: 1500px;
	float: center;
}

#nav ul {
	list-style: none;
	padding: 0;
}

#nav .selected {
	font-weight: bold;
}

li a:hover {
  background-color: #95afc0;
}

#main1 {
    text-align: justify;
	width: 1050px;
	padding: 50px;
	margin-left: 30px;
	float: left;
}

#main2 {
    text-align: justify;
	width: 1050px;
	padding: 0px;
	margin-left: 80px;
	float: left;
}
#main3 {
    text-align: justify;
	width: 1050px;
	padding: 50px;
	margin-left: 30px;
	float: left;
}

#main4 {
    text-align: justify;
	width: 1050px;
	padding: 0px;
	margin-left: 80px;
	float: left;
}
#main5 {
    text-align: justify;
	width: 1050px;
	padding: 50px;
	margin-left: 30px;
	float: left;
}

#main6 {
    text-align: justify;
	width: 1050px;
	padding: 0px;
	margin-left: 80px;
	float: left;
}

#main7 {
    text-align: justify;
	width: 1050px;
	padding: 0px;
	margin-left: 80px;
	float: left;
}

#footer {
	clear: both;
	padding: 8px;
	background-color: #7ed6df;
	color: white;
	text-align: right;	
}
