body {
	background-color: rgb(255, 255, 255);
	font-family: "Lucida Handwriting";
}

#container {
	background-color: white;
	width: 1500px;
	margin-left: auto;
	margin-right: auto;
}

a {
	text-decoration: none;
	color: red;
}

h1{
	margin: 0;
    font-size: 40px;
} 

h2{
	margin: 0;
    font-size: 30px;
    color: #22a6b3;
} 

#header {
	background-color: #22a6b3;
	color: white;
	text-align: center;
	padding: 50px;
} 

#content {
	padding: 0px;
}

#nav {
	width: 1500px;
	float: center;
}

#nav ul {
	list-style: none;
	padding: 0;
}

#nav .selected {
	font-weight: bold;
}

li a:hover {
  background-color: #111;
}
#main1 {
    text-align: justify;
	width: 1050px;
	padding: 50px;
	float: left;
}

#footer {
	clear: both;
	padding: 10px;
	background-color: #999999;
	color: white;
	text-align: right;
}